/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// $base-font: "Open Sans", "Helvetica", "sans-serif";
// $header-font: "Raleway", "Helvetica", "sans-serif";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Oswald:200,300,400,500,600,700|Pacifico');
$header-font: "Pacifico", "cursive";
$title-font: "Oswald", "sans-serif";
$base-font: "Open Sans", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
// $brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
// $green: #32B796;

$gray: #000000;
$gray2: #f0f0f0;
$white: white;

// green 79 150 8
$green: #4f9608;

// beige 245 240 234
$bg-color: #f5f0ca;

// geige plus 234 224 214
$bg2-color: #eae0d6;
