
<div class="card">
  <div class="inner">
    <div class="front" style="background-image: url(<%= image_path picture %>);">
      <div class="details">
        <h3 class="pantone-tm">PANTONE<sup>®</sup></h3>
        <p class="year">2017</p>
        <p class="color-info">15-0343</p>
        <p class="color-info">Greenery</p>
      </div>
      <!-- /.front -->
    </div>
    <div class="back">
      <div class="pantone-tm">PANTONE<sup>®</sup></div>
      <p class="color-info">15-0343</p>
      <p class="color-info">Greenery</p>
      <ul>
        <li>CMYK<span>53 13 92 1</span></li>
        <li>RGB<span>136 176 75</span></li>
        <li>HEX<span>#88b04b</span></li>
      </ul>
    </div>
    <!-- /.back -->
  </div>
<!-- /.inner -->
</div>
