<div class="footer" style="background-image: linear-gradient(0deg, rgba(10,10,10,0.7) 0%, rgba(10,10,10,1) 100%), url(<%= image_path('farm.jpg') %>);">
</div>
<div class="footer-bottom">
  <p>Copyright Direct'O'Cuisines 2017. Tous droits réservés</p>
</div>
