<div class="footer" style="background-image: linear-gradient(0deg, rgba(10,10,10,0.7) 0%, rgba(10,10,10,1) 100%), url(<%= image_path('farm.jpg') %>);">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2><i class="fa fa-commenting" aria-hidden="true"></i> Le Blog</h2>
        <%= image_tag "blog.jpg" %>
        <p>
          Marre d'avoir toujours le même plat du jour. Notre nutritionniste vous donne des astuces simples pour varier vos recettes tout en restant à l'équilibre.
        </p>
      </div>
      <div class="col-md-3">
        <h2><i class="fa fa-question-circle" aria-hidden="true"></i> Qui sommes-nous ?</h2>
        <p>Comment ça fonctionne ?</p>
        <p>FAQ</p>
        <p>Presse</p>
      </div>
      <div class="col-md-3">
        <h2><i class="fa fa-phone" aria-hidden="true"></i> Contactez-nous</h2>
        <p>E-mail : <br>contact@directocuisines.fr</p>
        <p>Tél: 06 01 02 03 04</p>
        <p>Suivi de livraison</p>
      </div>
      <div class="col-md-3">
        <h2><i class="fa fa-envelope" aria-hidden="true"></i> Newsletter</h2>
        <p>
          Tenez vous informé des nouveautés Direct'O'Cuisines
        </p>
        <form action="" class="newsletter-form">
          <input type="text" class="newsletter-input" placeholder="Votre e-mail">
          <button type="submit" class="newsletter-btn">
            OK
          </button>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="footer-bottom">
  <p>Copyright Direct'O'Cuisines 2017. Tous droits réservés</p>
</div>
