<div class="banner" style="background-image: linear-gradient(-225deg, rgba(100,100,100,0.2) 0%, rgba(100,100,100,0.6) 50%), url(<%= image_path('banner-doc.png') %>);">
  <div class="banner-content">
    <%= image_tag "logo.png", class: "logo-icon-large" %>
    <h1>Direct'<span>O</span>'Cuisines</h1>
    <p>Des produits frais et locaux, sans détours!</p>

    <!-- Search form -->
    <form action="" class="banner-search">
      <input type="text" class="banner-search-input" placeholder="Search something">
      <button type="submit" class="banner-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

  </div>
</div>
