
<div class="doc-wrapper bg-white">
  <h1>Trouvez des produits près de chez vous</h1>
  <div class="subline">
    <div class="subline-border">
      <div class="diamond"></div>
      <div class="diamond"></div>
    </div>
  </div>
  <div class="map-container">
    <form action="" class="map-search">
      <input type="text" class="map-input" placeholder="Search something">
      <button type="submit" class="map-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
</div>





<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
