
<div class="newsletter hidden-xs hidden-sm" style="background-image: linear-gradient(-225deg, rgba(100,100,100,0.2) 0%, rgba(100,100,100,0.6) 50%), url(<%= image_path('newsletter-doc.jpg') %>);">
  <div class="newsletter-content">
    <div class="newsletter-text">
      <p>Restez informé de nos sélections de produits.</p>
      <p><b>Inscrivez-vous à la newsletter</b></p>
    </div>
    <!-- Search form -->

    <form action="" class="newsletter-form">
      <input type="text" class="newsletter-input" placeholder="Votre e-mail">
      <button type="submit" class="newsletter-btn">
        S'INSCRIRE
      </button>
    </form>

  </div>
</div>
