<div class="newsletter" style="background-image: linear-gradient(-225deg, rgba(100,100,100,0.2) 0%, rgba(100,100,100,0.6) 50%), url(<%= image_path('newsletter-doc.jpg') %>);">
  <div class="newsletter-content">
    <p>Manger bien, manger bon</p>

    <!-- Search form -->
    <form action="" class="newsletter-form">
      <input type="text" class="newsletter-input" placeholder="Search something">
      <button type="submit" class="newsletter-btn">
        S'INSCRIRE
      </button>
    </form>

  </div>
</div>
