<div class="doc-wrapper bg-white">
  <%= image_tag "wrapper-right2.png", class: "img-right hidden-xs hidden-sm" %>
  <h1>
    Bienvenue sur Direct'O'Cuisines
  </h1>
  <div class="subline">
    <div class="subline-border">
      <div class="diamond"></div>
      <div class="diamond"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-4">
            <h2><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> De la qualité</h2>
            <p>Nos experts controllent, certifient et labélisent nos produits essentiellement issus d'une agriculture biologique et raisonnée.</p>
          </div>
          <div class="col-md-4">
            <h2><i class="fa fa-cutlery" aria-hidden="true"></i> Pour le professionnel</h2>
            <p>Nous proposons des tarifs professionnels avantageux pour des menus sains, savoureux et équilibrés.</p>
          </div>
          <div class="col-md-4">
            <h2><i class="fa fa-truck" aria-hidden="true"></i> En circuit court</h2>
            <p>Des produits frais et de saison dans un rayon de 200km, livrés en 48h.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="doc-wrapper bg-white no-padded-top hidden-xs hidden-sm">
  <%= image_tag "wrapper-left.png", class: "img-left" %>
  <iframe width="480" height="270" src="http://www.youtube.com/embed/7N1bxkJpRXs" frameborder="0"></iframe>
</div>



