 <div class="doc-wrapper bg-color2">
  <h1>
    Nos produits de saison
  </h1>
  <div class="subline">
    <div class="subline-border">
      <div class="diamond"></div>
      <div class="diamond"></div>
    </div>
  </div>
  <div class="container">

    <div class="card pt-2017">
      <div class="inner">
        <div class="front">
          <div class="details">
            <h3 class="pantone-tm">Jabón de Lavanda</h3>
            <p class="year">20€</p>

          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">LAVANDA</div>
          <p class="color-info">La lavanda tiene efecto antiinflamatorio , adecuada para el tratamiento de dolores reumáticos ,de cabeza, etc. </p>
          <button class="button-cta"><span>Comprar</span></button>
        </div>

        <!-- /.back -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.card -->

     <div class="card pt-2011">
      <div class="inner">
        <div class="front">
          <div class="details">
            <h3 class="pantone-tm">PANTONE<sup>®</sup></h3>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">PANTONE<sup>®</sup></div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.card -->

      <div class="card pt-2013">
      <div class="inner">
        <div class="front">
          <div class="details">
            <h3 class="pantone-tm">PANTONE<sup>®</sup></h3>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">PANTONE<sup>®</sup></div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.card -->

    <div class="card pt-2011">
      <div class="inner">
        <div class="front">
          <div class="details">
            <h3 class="pantone-tm">PANTONE<sup>®</sup></h3>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
        </div><!-- /.front -->
        <div class="back">
          <div class="pantone-tm">PANTONE<sup>®</sup></div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.card -->
    <div class="card pt-2013">
      <div class="inner">
        <div class="front">
          <div class="details">
            <h3 class="pantone-tm">PANTONE<sup>®</sup></h3>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">PANTONE<sup>®</sup></div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.card -->
  </div>
</div>
