<div class="doc-wrapper">
  <h1>Quelques chiffres clés</h1>
  <div class="subline">
    <div class="subline-border">
      <div class="diamond"></div>
      <div class="diamond"></div>
    </div>
  </div>
  <%= image_tag "basket.png", class: "stats-img hidden-xs hidden-sm" %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <h2><span>70</span> Producteurs</h2>
        <p>proposent leurs produits.</p>
      </div>
      <div class="col-md-2">
        <h2><span>50</span> Restaurateurs</h2>
        <p>nous ont fait confiance.</p>
      </div>
      <div class="col-md-2">
        <h2><span>+1000</span> Produits</h2>
        <p>sont accessibles en ligne.</p>
      </div>
      <div class="col-md-2">
        <h2><span>100%</span> Écologique</h2>
        <p>Pour une agriculture bio et/ou raisonnée.</p>
      </div>
    </div>
  </div>
</div>
