<div class="doc-wrapper">
  <h1>Stats</h1>
  <%= image_tag "basket.png", class: "stats-img" %>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <h2>Titre</h2>
        <p>azerty jezeptrj zeportiz'(tri 'i("'⁽i (é( ioé$( ( $éo()"</p>
      </div>
      <div class="col-md-2">
        <h2>Titre</h2>
        <p>azerty jezeptrj zeportiz'(tri 'i("'⁽i (é( ioé$( ( $éo()"</p>
      </div>
      <div class="col-md-2">
        <h2>Titre</h2>
        <p>azerty jezeptrj zeportiz'(tri 'i("'⁽i (é( ioé$( ( $éo()"</p>
      </div>
      <div class="col-md-2">
        <h2>Titre</h2>
        <p>azerty jezeptrj zeportiz'(tri 'i("'⁽i (é( ioé$( ( $éo()"</p>
      </div>
    </div>
  </div>
</div>
