
<div class="bg-color2 hidden-xs hidden-sm">
  <div class="container">
    <div class="tabs">

      <div class="dropdown">
        <button class="box curmudgeon dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Fruits
        </button>
        <ul class="dropdown-menu custom-drpdown" aria-labelledby="dropdownMenu1">
          <li><a href="#">Fruits de saison</a></li>
          <li><a href="#">Agrumes</a></li>
          <li><a href="#">Fruits à coque</a></li>
          <li><a href="#">Fruits à noyaux</a></li>
          <li><a href="#">Fruits à pépins</a></li>
          <li><a href="#">Fruits de plantes grimpantes</a></li>
          <li><a href="#">Fruits sauvages</a></li>
          <li><a href="#">Légumes fruits</a></li>
          <li><a href="#">Petits fruits et fruits rouges</a></li>
          <li><a href="#">Autres fruits</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="box curmudgeon dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Légumes
        </button>
        <ul class="dropdown-menu custom-drpdown" aria-labelledby="dropdownMenu2">
          <li><a href="#">Légumes de saison</a></li>
          <li><a href="#">Aromatiques fraîches</a></li>
          <li><a href="#">Champignons</a></li>
          <li><a href="#">Choux</a></li>
          <li><a href="#">Courges</a></li>
          <li><a href="#">Haricots, pois</a></li>
          <li><a href="#">Légumineuses, graines germées</a></li>
          <li><a href="#">Légumes feuilles</a></li>
          <li><a href="#">Légumes fruits</a></li>
          <li><a href="#">Légumes racines, tubercules et tiges</a></li>
          <li><a href="#">Pommes de terre</a></li>
          <li><a href="#">Salades</a></li>
          <li><a href="#">Fleurs</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="box curmudgeon dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Viandes
        </button>
        <ul class="dropdown-menu custom-drpdown" aria-labelledby="dropdownMenu3">
          <li><a href="#">Viandes bovines</a></li>
          <li><a href="#">Viandes ovines</a></li>
          <li><a href="#">Viandes porcines</a></li>
          <li><a href="#">Volailles</a></li>
          <li><a href="#">Canards</a></li>
          <li><a href="#">Autres viandes</a></li>
        </ul>
      </div>

      <a href="#" class="box curmudgeon">Poissons</a>
      <a href="#" class="box curmudgeon">Crémerie</a>
      <a href="#" class="box curmudgeon">Boulangerie</a>
      <a href="#" class="box curmudgeon">Le salé</a>
      <a href="#" class="box curmudgeon">Le sucrée</a>
    </div>
  </div>
</div>
