/* Main class */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-absolute {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: $bg-color;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: $maroon;
  text-decoration: none;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  box-shadow: 1px 1px 4px #E6E6E6;
  color: $maroon;
  background-color: rgba(245, 240, 234, 0.8);
  border: 5px solid rgba(234, 224, 214, 0.8);

}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $maroon !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  width: 250px;
  color: $green;
}
.logo:hover {
  color: $maroon;
  img {
    opacity: 0.5;
  }
}
.logo-font {
  font-family: $header-font;
  font-size: 25px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.logo-font span {
  font-family: $title-font;
  font-size: 38px;
  // color: maroon;
}
.logo-icon {
  width: 50px;
  height: 50px;
}
.fa-bars {
  color: $bg-color;
}
