/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
h1 {
  color: $maroon;
}

h2 {
  font-family: $title-font;
  color: $green;
  font-size: 22px;
  i, span {
    padding: 5px;
    color: $maroon;
    background-color: rgba(245, 240, 234, 0.8);
    border: 5px solid rgba(234, 224, 214, 0.8);
  }
}
a {
  text-decoration: none !important;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.no-padded-top {
  padding-top: 0px !important;
}

// Backgrounds
.bg-color {
  background: $bg-color;
}
.bg-color2 {
  background: rgba(234, 224, 214, 0.7);
}

.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-grey2 {
  background: #f0f0f0;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-white {
  background: white;
}

.doc-wrapper {
  // height: 400px;
  width: 100%;
  text-align: center;
  padding: 50px 0px 80px 0px;
  position: relative;
}

.subline {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.subline-border {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 5px;
  border-bottom: 1px solid grey;
}
.diamond {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 5px solid $green;
  position: relative;
  top: -7px;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -7px; top: 5px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 5px solid $green;
}
