/*** Container */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/** Card */

.card {
  -webkit-perspective:500px;
     -moz-perspective:500px;
      -ms-perspective:500px;
       -o-perspective:500px;
          perspective:500px;

  // perspective: 500;
  cursor: pointer;
  display: inline-block;
  margin: 1rem;
}

.card:hover .inner {

  -webkit-transform:rotateY(180deg);
     -moz-transform:rotateY(180deg);
      -ms-transform:rotateY(180deg);
       -o-transform:rotateY(180deg);
          transform:rotateY(180deg);


  // transform: rotateY(180deg);
}

.card .inner {

  -webkit-transition: .6s;
     -moz-transition: .6s;
      -ms-transition: .6s;
       -o-transition: .6s;
          transition: .6s;
  -webkit-transform-style:preserve-3d;
     -moz-transform-style:preserve-3d;
      -ms-transform-style:preserve-3d;
       -o-transform-style:preserve-3d;
          transform-style:preserve-3d;


  // transition: .6s;
  // transform-style: preserve-3d;
  position: relative;
}


/*** Card common */

.card,
.front,
.back {
  height: 250px;
  width: 180px;
}

.front, .back {


  -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
      -ms-backface-visibility:hidden;
       -o-backface-visibility:hidden;
          backface-visibility:hidden;


  // backface-visibility: hidden;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .06);
  left: 0;
  position: absolute;
  top: 0;
}

.pantone-tm {
  color: #231f20;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0;
  position: relative;
  text-transform: uppercase;
}

.pantone-tm sup {
  font-size: 1rem;
  position: absolute;
}

.color-info {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}


/*** Card front */

.front {
  z-index: 2;
}

.details {

  -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
      -ms-backface-visibility:hidden;
       -o-backface-visibility:hidden;
          backface-visibility:hidden;


  background-color: #fff;
  bottom: 0;
  height: 90px;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.price {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  right: 5px;
  top: -37px;
  background-color: #4f9608;
  padding: 5px;
  border-radius: 5px;
}


/*** Card back */

.back {
  display: flex;
  flex-direction:column-reverse;
  justify-content: space-between;
  transform: rotateY(180deg);
  background-color: #fff;
  padding: 1.5rem 1.5rem 0;
  text-align: center;
  position: relative;
}

.back ul {
  margin-top: 1rem;
}

.back li {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #888;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 5px;
  text-align: left;
  // list-style-type: none;
}

.back li:hover {
  color: #231f20;
}

.back li:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.back li span {
  font-weight: normal;
  float: right;
}
.pantone-tm {
  order:1;
}

.card .front {
  background-size: 100%;
}
