.grower-presentation {
  color: white;
  text-align: center;
  height: 450px;
  padding: 45px 0px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grower-presentation h1 {
  color: $bg-color2;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.grower-presentation h2 {
  color: $bg-color;
  font-size: 16px;
  font-weight: medium;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.grower-presentation p {
  font-size: 16px;
  font-weight: medium;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  color: $bg-color;
}
.grower-content {
  max-width: 500px;
}
