.newsletter {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: bottom;
  padding: 30px;
}
.newsletter h1 {
  font-size: 50px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: green;
}
.newsletter h1 span {
  font-family: $base-font;
  font-size: 60px;
  color: maroon;
}
.newsletter p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.newsletter-content {
  padding: 50px 100px;
  border: 3px solid $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* newsletter search form */
.newsletter-form {
  position: relative;
  border: 1px solid #666666;
  border-radius: 5px;
}
.newsletter-btn {
  line-height: 40px;
  color: #666666;
  border: none;
  background: transparent;
  position: absolute;
  right: 4px;
  top: -2px;
  z-index: 1;
}
.newsletter-input {
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  width: 100%;
}
.newsletter-input:focus  {
  border: 1px solid #CCCCCC;
}
