.tabs {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 0px 10px;
  background-color: $white;
  position:relative;
  vertical-align: middle;
  color: $green;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid $green;
  -webkit-transition:0.5s;
}

.box:hover {
  border: 2px solid rgba(79,150,8,0);
  color: $maroon;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.curmudgeon::before {
  border-bottom: 3px solid $maroon;
  border-left: 0;
  -webkit-transform-origin: 0% 100%;
}

.curmudgeon::after {
  border-top: 0;
  border-right: 0;
  -webkit-transform-origin: 50% 50%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}
.custom-drpdown {
  margin: 0 10px;
  // color: $maroon;
  // background-color: rgba(245, 240, 234, 0.8);
  border: 5px solid rgba(234, 224, 214, 0.8);
}
